experiments/dreamerV3_origin/wandb
experiments/dreamerV3_origin/scores


experiments/dreamerV3_NoisyTvWrapper/wandb/*
experiments/dreamerV3_NoisyTvWrapper/scores/*
experiments/dreamerV3_NoisyTvWrapper/logdir/*

experiments/dreamerV3_LPM_scheduling/exploration/__pycache__/*
experiments/dreamerV3_LPM_scheduling/wandb/*
experiments/dreamerV3_LPM_scheduling/scores/*

experiments/dreamerV3_LPM_NoBuffer/wandb/*
experiments/dreamerV3_LPM_NoBuffer/scores/*

experiments/dreamerV3_critic_Separated/wandb/*
experiments/dreamerV3_critic_Separated/scores/*

experiments/dreamerV3_Integrated/scores/*
experiments/dreamerV3_Integrated/wandb/*

experiments/dreamerV3_LPM_separated/scores/*
experiments/dreamerV3_LPM/wandb/*
experiments/dreamerV3_LPM/scores/*

experiments/dreamerV3_LPM_separated/wandb/*
experiments/dreamerV3_LPM_separated/scores/*

experiments/dreamerV3_LPM_separated_critic/wandb/*
experiments/dreamerV3_LPM_separated_critic/scores/*
experiments/dreamerV3_origin/logdir/*

experiments/dreamerV3_Recon_baseline/wandb/*
experiments/dreamerV3_Recon_baseline/scores/*
experiments/dreamerV3_Recon_baseline/logdir/*
